@mixin mobile {
    @media (max-width: 991px) {
        @content;
    }
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column  {
    display: flex;
    flex-direction: column;
}

@mixin statement-font {
    font-size: 15rem;
    font-weight: 800;
}

@mixin title-font {
    font-size: 2.8rem;
    font-weight: 600;
}

@mixin body-font {
    font-size: 1.6rem;
    font-weight: 600;
}
