@mixin mobile {
    @media (max-width: 480px) {
        @content;
    }
}

@mixin tablett {
    @media (max-width: 999px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 1338px) {
        @content;
    }
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin statement-font {
    font-size: 15rem;
    font-weight: 800;
}

@mixin big-title-font {
    font-size: 4.9rem;
    font-weight: 700;
}

@mixin title-font {
    font-size: 2.8rem;
    font-weight: 600;
}

@mixin big-body-font {
    font-size: 2rem;
    font-weight: 400;
}

@mixin body-font {
    font-size: 1.6rem;
    font-weight: 600;
}

@mixin mobile-title {
    font-size: 2.4rem;
}

@mixin mobile-body {
    font-size: 1.4rem;
}
