$background-yellow: #ffe348;
$background-pink: #ffb7d8;
$font-color: #094bac;
$font-color-dark: #010c1d;
$base-color: #ffffff;
$disabled-color: #859bbc;

$base-indent: 5%;
$nav-lines: 3.5px;
$base-radius: 2.4rem;
