@import 'mixins';
@import 'variables';

.contact-container {
    align-items: center;
    justify-content: center;
}

.contact-text {
    text-align: center;
}

.form-container {
    @include flex-row;
    align-items: center;
    background-color: $font-color;
    background: url('../public/emily-bernal-r2F5ZIEUPtk-unsplash.jpg') no-repeat
        center center;
    background-position: center;
    background-size: cover;
    border-radius: $base-radius;
    color: $base-color;
    justify-content: flex-end;
    padding: $base-indent;

    .cta {
        @include flex-column;
        border-radius: $base-radius 0 0 $base-radius;
        border-right: none;
        border: solid 5px $font-color;
        color: $font-color;
        font-size: 8rem;
        font-weight: 600;
        justify-content: center;
        /*max-height: 7em;*/
        min-width: 80%;
        position: absolute;
        text-transform: capitalize;
        z-index: 1;

        h2 {
            padding: $base-indent;
        }
    }

    form {
        @include flex-column;
        background-color: $font-color;
        border-radius: $base-radius;
        min-width: 600px;
        padding: $base-indent;
        position: relative;
        z-index: 10;

        input,
        textarea {
            background-color: $base-color;
            border-radius: $base-radius;
            border: none;
            font-family: var(--inter-font);
            font-size: 2rem;
            padding: calc($base-indent - 1%);
        }

        input {
            margin-bottom: $base-indent;
        }

        textarea {
            margin-bottom: calc($base-indent * 2);
            max-width: 500px;
            min-width: 500px;
            min-height: 250px;
            max-height: 250px;
        }

        button {
            font-size: 2rem;
            padding: $base-indent;
        }
    }
}
