@import 'mixins';
@import 'variables';

:root {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--inter-font), 'Courier New', Courier, monospace;
    height: 100vh;
}

body {
    @include flex-column;
    height: 100%;
}

main {
    flex-grow: 1;
    padding: $base-indent;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid $nav-lines $font-color;

    a {
        text-decoration: none;
        color: $font-color;
    }

    .nav-left {
        @include flex-row;
        align-items: center
    }
    
    .nav-items {
        @include flex-row;
        gap: 25%;
        padding: 10%;
        @include body-font;
    }

    .icon {
        font-size: 4rem;
        padding: 0.5em 1.2em;
        color: $font-color;
    }

    .icon.left {
        border-right: solid $nav-lines $font-color;
    }

    .icon.right {
        border-left: solid $nav-lines $font-color;
    }
}

footer {
    @include flex-row;
    @include body-font;
    justify-content: space-between;
    padding: calc($base-indent/2) $base-indent;
    border-top: solid $nav-lines $font-color;
    color: $font-color;
    align-items: center;

    h2 {
        @include title-font;
    }

    .footer-items {
        gap: 20%;
        text-transform: capitalize;

        a {
            text-decoration: none;
            color: $font-color;    
        }
    }

    .footer-items.left {
        @include flex-row;
    }

    .footer-items.right {
        @include flex-column;
        align-items: end;
    }

    .icon {
        font-size: 5rem;
        padding: 2%;
        border: dotted 12px $font-color;
        border-radius: 50%;
    }      
}

.img-ref {
    font-size: 1rem;
    margin: 1%;
    text-align: end;

    a {
        color:$font-color;
    }
}