@import 'mixins';
@import 'variables';

:root {
    font-size: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--inter-font), 'Courier New', Courier, monospace;
    height: 100vh;
}

body {
    @include flex-column;
    height: 100%;

    &.yellow {
        background-color: $background-yellow;
    }

    &.pink {
        background-color: $background-pink;
    }
}

main {
    flex-grow: 1;
    padding: $base-indent;
}

nav {
    align-items: center;
    border-bottom: solid $nav-lines $font-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a {
        border-bottom: solid 5px transparent;
        color: $font-color;
        text-decoration: none;
    }

    .nav-left {
        @include flex-row;
        align-items: center;
    }

    .nav-items {
        @include body-font;
        @include flex-row;
        gap: 25%;
        padding: 5% 10%;
    }

    .icon {
        color: $font-color;
        font-size: 4rem;
        padding: 0.4em 0.8em;
    }

    .icon.left {
        border-right: solid $nav-lines $font-color;
    }

    .icon.right {
        border-left: solid $nav-lines $font-color;
    }
}

footer {
    @include body-font;
    @include flex-row;
    align-items: center;
    border-top: solid $nav-lines $font-color;
    color: $font-color;
    justify-content: space-between;
    padding: calc($base-indent/2) $base-indent;

    h2 {
        @include title-font;
    }

    .footer-items {
        gap: 20%;
        text-transform: capitalize;

        a {
            border-bottom: solid 5px transparent;
            color: $font-color;
            text-decoration: none;
        }
    }

    .footer-items.left {
        @include flex-row;
    }

    .footer-items.right {
        @include flex-column;
        align-items: end;
    }

    .icon {
        @include flex-column;
        align-items: center;
        border-radius: 50%;
        border: dotted 12px $font-color;
        color: $font-color;
        font-size: 3em;
        justify-content: center;
        padding: 0.5em;
    }
}

.container {
    @include flex-row;

    .text {
        color: $font-color;
        margin-bottom: $base-indent;

        h2 {
            @include statement-font;
        }

        h3 {
            @include title-font;
            max-width: 1400px;
        }
    }
}

.img-ref {
    font-size: 1rem;
    margin: 1%;
    text-align: end;
    color: $font-color-dark;

    a {
        color: $font-color;
    }
}

.hover {
    &:hover {
        border-bottom: solid 5px $font-color;
    }
}

.active {
    border-bottom: solid 5px $font-color;
}

button {
    background-color: $background-yellow;
    border-radius: 2.4rem;
    border: none;
    cursor: pointer;
    font-family: var(--inter-font);
    text-transform: capitalize;
    transition: all 0.25s ease-in;
}

button:not(:disabled):hover {
    background-color: $background-pink;
    box-shadow: 5px 5px 15px 5px #ff8080, -9px 5px 15px 5px #ffe488,
        -7px -5px 15px 5px #8cff85, 12px -5px 15px 5px #80c7ff,
        12px 10px 15px 7px #e488ff, -10px 10px 15px 7px #ff616b,
        -10px -7px 27px 1px #8e5cff, -4px 3px 9px 7px rgba(6, 47, 107, 0);
}

button:disabled {
    background-color: $disabled-color;
    color: $base-color;
}
