@import 'mixins';
@import 'variables';

.landing-container {
    @include flex-row;
    align-items: center;
    justify-content: space-between;

    .icon {
        color: $font-color;
        font-size: 20rem;
    }
}

.landing-text {
    color: $font-color;
    margin-bottom: $base-indent;

    h1 {
        @include statement-font;
    }

    h2 {
        @include title-font;
        max-width: 1400px;
    }
}

.landing-img {
    .pic {
        border-radius: 2.4rem;
        height: 100%;
        width: 100%;
    }
}

@include mobile {
    .landing-container {
        .icon {
            display: none;
            font-size: 5rem;
        }
    }

    .landing-text {
        h1 {
            font-size: 4rem;
        }

        h2 {
            font-size: 1.8rem;
        }
    }
}
