@import 'mixins';
@import 'variables';

.projects {
    @include flex-column;
    gap: 20px;
}

.project {
    @include flex-row;
    background-color: $font-color;
    border-radius: $base-radius;
    color: $base-color;
    justify-content: space-between;
    min-height: 350px;
    padding: 4em;

    &#odd {
        flex-direction: row-reverse;
        text-align: end;

        .btns {
            justify-content: end;
        }
    }

    .btns {
        @include flex-row;
        justify-content: start;
    }

    button {
        font-size: 1.8rem;
        padding: 1.5em 6em;
        margin: $base-indent calc($base-indent/2);

        a {
            text-decoration: none;
            color: $font-color-dark;
        }
    }

    .project-text {
        @include flex-column;
        width: fit-content;
        flex-grow: 1;

        .tools {
            font-size: 1.6rem;
            justify-self: end;
            margin-top: auto;
        }
    }

    h3 {
        @include big-title-font;
        margin-bottom: 2%;
    }

    p {
        @include big-body-font;
        margin-bottom: 1%;
    }

    .project-img {
        max-width: 30%;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .project-img.mobile {
        display: none;
    }
}

@include tablet {
    .project {
        button {
            font-size: 1.4rem;
        }

        h3 {
            font-size: 4rem;
        }

        p {
            font-size: 1.6rem;
        }

        .project-text {
            .tools {
                font-size: 1.2rem;
            }
        }
    }
}

@include mobile {
    .project {
        flex-direction: column;
        text-align: center;

        p {
            text-align: start;
        }

        &#odd {
            flex-direction: column;
            text-align: center;
        }
        .btns {
            flex-direction: column;
        }

        .project-img.desktop {
            display: none;
        }

        .project-img.mobile {
            display: block;
            max-width: none;
            margin: 10px;
        }
    }
}
