@import 'mixins';
@import 'variables';

body {
    background-color: $background-multi;
}

.projects-container {
    @include flex-row;
}

.projects-text {
    color: $font-color;
    margin-bottom: $base-indent;
    
    h2 {
        @include statement-font;
    }
    
    h3 {
        @include title-font;
        max-width: 1400px;
    }
}

.projects {
    @include flex-column;
    gap: 20px;
}

.project {
    @include flex-row;
    justify-content: space-between;
    padding: 4em;
    background-color: $font-color;
    border-radius: 2.4rem;
    color: $base-color;
    min-height: 350px;

    &.odd {
        flex-direction: row-reverse;
        text-align: end;

    }

    .project-text {
        @include flex-column;
        max-width: 65%;

        .tools {
            justify-self: end;
            margin-top: auto;
            font-size: 1.6rem;
        }
    }


    h3 {
        @include big-title-font;
        margin-bottom: 2%;
    }

    p {
        @include big-body-font;
        margin-bottom: 1%;
    }

    .project-img {
        max-width: 40%;
        
        img {
            border-radius: 2.4rem;
            height: 100%;
            width: 100%;
        }
    }
}